body{
    text-align: center;
}
header{
    background-color: rgb(212, 69, 69);
}
#produtos{
    background-color: rgb(172, 62, 62);
    height: 800px;
}
#parceiros{
    background-color: rgb(48, 138, 241);
    height: 700px;
}
#historia{
    background-color: rgb(86, 255, 255);
    height: 700px;
}
#cadastro{
    background-color: rgb(82, 161, 106);
    height: 700px;
}

.logotipo{
    height: 250px;
}

body{
    background-color: rgb(39, 39, 39);
}

.menu{
    background-color: aliceblue;
    padding: 15px;
}

.menu{
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    transition: 0.9s;
    padding: 5px;
}

.menu a:hover{
    color: rgb(255, 63, 63);
    text-decoration: underline;
    background-color: black;
    border-radius: 3px;
}

.menu li{
    display: inline;
    margin: 15px;
}

.produtos{
    background-color: rgb(202, 44, 44);
    margin: 0 50px 0 50px;
    padding: 20px;
    border-radius: 10px;
}

.produtos:hover{
    background-color: rgb(180, 79, 79);
    transition: 0.9s;
}

.produtos p{
    /* border: solid red 2px */
    text-align: justify;
}

.imagem{
    height: 300px;
    padding: 50px;
}

